td {
    width: 200px;
    background: aliceblue;
    padding-left: 10px;
}

th {
    background: darkgray;
}

.container {
    margin: 0 auto;
}

table {
    margin: 0 auto;
    margin-top: 50px;
}

form {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-top: 50px;
}

.name input {
    background: none;
    border: none;
}

.label {
    border: 1px solid black;
    background-color: bisque;
}