<button *ngIf="!isShow" (click)="isShow = !isShow">Показать данные сотрудников</button>
<button *ngIf="isShow" (click)="isShow = !isShow">Скрыть данные сотрудников</button>

<div class="container" *ngIf="isShow">
  <form action="" method="POST">
    <table border="1">
      <tr>
        <th>id</th>
        <th>Имя</th>
        <th>Кр. Имя</th>
        <th>Убрать сотрудника</th>
        <th>Изменить</th>
        <th>Сохранить</th>
      </tr>
      <tr *ngFor='let user of users'>
        <td>{{user.id}}</td>
        <td class="name"><input [(ngModel)]="user.name" [id]="user.name" [name]="user.name"></td>
        <td>{{user.surname}}</td>
        <td><button type="submit" [id]="user.id" (click)="deletEmployee($event, user.id)">delete</button></td>
        <td class="label"><label [for]="user.name">edit</label></td>
        <td><button type="submit" [id]="user.id" (click)="seveEmployee(this.user.id, this.user.name)">save</button></td>
      </tr>
    </table>
  </form>
 
  <form #form action="" method="POST">
    <h2>Добавить нового сотрудника</h2>
    <label for="id">Id сотрудника</label><input [(ngModel)]="eId" name="id" type="number">
    <label for="name">Имя сотрудника</label><input [(ngModel)]="eName" name="name" type="text">
    <label for="surname">Фамилия сотрудника</label><input [(ngModel)]="eSurname" name="surname" type="text">
    <button (click)="addEmployee($event)" type="submit">Добавить</button>
  </form>
</div>
